.c-main {
  &__content-picture {
    position: relative;
    display: block;
    aspect-ratio: 138/217;
    border: red 1px solid;
  }
  &__block {
    padding-bottom: 43px;
    padding-top: 2.6875em;
  }
  &__title {
    padding: 0 clamp(38px, 15vw, 17em);
    font-weight: 500;
    margin-bottom: 6px;
    font-size: 1.5em;
    color: #3b3b3b;
    padding-top: 86px;
    & small {
      font-size: 9px;
      color: #7bb487;
    }
  }
  &__text {
    padding: 0 clamp(38px, 15vw, 17em);
    font-size: clamp(0.7em, 1.2vw, 2em);
    margin-bottom: 0.875em;
  }

  &__block-img-x {
    margin-top: 43px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    // max-width: 200px;
    margin: auto;
  }
}
