.c-home {
  position: relative;

  &-header {
    height: 100vh;
    background-color: #4f4f4f;
    @include desktop {
      display: flex;
    }
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: clamp(60px, 11vh, 233px) clamp(50px, 18vw, 180px);
      // margin-bottom: 20px;
      position: relative;
      gap: clamp(0px, 3vw, 40px);
      height: 100%;
      @include desktop {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        // align-items: start;
        position: relative;
        height: fit-content;
        margin: auto;
        max-width: 1375px;
        position: relative;
      }
    }
    &__img {
      position: relative;
      width: 100%;
      aspect-ratio: 98/132;
      @include desktop {
        position: absolute;
        top: clamp(100px, 12vh, 400px);

        width: clamp(80px, 27vw, 400px);
      }
    }
    &__block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      justify-items: end;
      gap: 14px;
      @include desktop {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        position: unset;
      }
      &-subtitle {
        @include desktop {
          display: flex;
          gap: 40px;
        }
      }
    }

    &__title {
      font-size: clamp(24px, 2.5vw, 38px);
      color: #f4dea5;
      font-weight: 600;
      @include desktop {
        font-weight: 400;
        text-align: right;
      }
    }

    &__subtitle {
      font-size: clamp(8px, 2vw, 16px);
      color: #cccccc;

      @include desktop {
        text-align: right;
        color: black;
      }
    }

    &__arrow {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: flex-end;
      &::before,
      &::after {
        content: "";
        width: 1px;
        background-color: #8c8c8c;
      }

      &::before {
        height: 25px;
        transform: rotate(45deg) translateX(-50%);
        transform-origin: bottom left;
      }

      &::after {
        height: 25px;
        transform: rotate(-45deg) translateX(50%);
        transform-origin: bottom right;
      }
      @include desktop {
        display: none;
      }
    }
  }
  &-main {
    // padding-top: clamp(5em, 9vw, 14em);

    &__team {
      margin-top: calc(31px - 0.875em);
    }
    & .c-main__title {
      line-height: 22px;
      padding-top: 52px;
    }
  }
  &-img {
    position: relative;
    width: 100%;
    &__crooked {
      max-width: 500px;
      padding-top: 0.75em;
      padding-bottom: 4.1875em;
      padding-left: clamp(9px, 5vw, 1200px);
      padding-right: clamp(9px, 5vw, 1200px);
      @include desktop {
        padding: 0;
      }
      &-container {
        aspect-ratio: 176/200;
        &:first-child {
          order: 2;
          transform: rotate(16deg) translate(-12px, 50px);
        }
        &:nth-child(2n) {
          order: 1;
          transform: rotate(-5deg) translate(8px, 13px);
        }
      }
    }
    &__container-x {
      margin-top: calc(31px - 0.875em);
      position: relative;
      width: 100%;
      max-width: 300px;
      aspect-ratio: 247/153;
    }
    &__icon {
      position: relative;
      width: 100%;
      max-width: clamp(30px, 10vw, 80px);
      margin-top: calc(1rem - 0.875em);
      // margin-bottom: 1rem;
      aspect-ratio: 30/30;
    }
  }
  &__block {
    &-primary {
      @include desktop {
        max-width: 1300px;
        margin: auto;
        display: flex;
        padding-bottom: 10.6875em;
        padding-top: 8.6875em;
        padding-left: 17em;
        padding-right: 17em;
        gap: 62px;
        .c-main__title,
        .c-main__text {
          padding: 0;
        }

        article {
          width: 50%;
        }
      }
    }
    &-secondary {
      @include desktop {
        display: flex;
        padding-left: 8em;
        padding-right: 8em;
        max-width: 1200px;
        margin: auto;
        .c-main__title,
        .c-main__text {
          padding: 0;
        }
        article {
          width: 50%;
        }
      }
    }
    &-terciary {
      padding-top: 5em;
      @include desktop {
        gap: clamp(20px, 1vw, 83px);
        padding-left: 6em;
        padding-right: 6em;
        max-width: 1800px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .c-main__title,
        .c-main__text {
          padding: 0;
          width: calc(100% / 3);
        }
        article {
          width: calc(100% / 3);
        }
      }
    }
    &-color {
      padding-top: 5em;
      padding-bottom: 5em;
    }
  }
  &-footer {
    text-align: center;
    article {
      margin-bottom: 1rem;
    }
    & .c-home-footer__rrss .c-home-img__icon {
      // aspect-ratio: 20/20;
      max-width: clamp(30px, 5vw, 50px);
    }
    @include desktop {
      display: flex;
      flex-direction: column;
    }
    &__talk {
      border-bottom: 1px solid #3b3b3b;
      padding-bottom: 0.1875em;
      display: inline;
      color: #3b3b3b;
    }
    &__rrss {
      margin-top: 2em;
    }
  }
}
