.c-home {
  position: relative;

  &-header {
    height: 100vh;
    background-color: #4f4f4f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: clamp(100px, 9vh, 233px) clamp(50px, 18vw, 200px);
    margin-bottom: 20px;
    position: relative;

    &__block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      justify-items: end;
      gap: 14px;
    }

    &__title {
      font-size: 24px;
      color: #f4dea5;
      font-weight: 600;
    }

    &__subtitle {
      font-size: clamp(8px, 2vw, 16px);
      color: #cccccc;

      @include desktop {
        text-align: right;
      }
    }

    &__arrow {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: flex-end;
      &::before,
      &::after {
        content: "";
        width: 1px;
        background-color: #8c8c8c;
      }

      &::before {
        height: 25px;
        transform: rotate(45deg) translateX(-50%);
        transform-origin: bottom left;
      }

      &::after {
        height: 25px;
        transform: rotate(-45deg) translateX(50%);
        transform-origin: bottom right;
      }
    }
  }
  &-main {
    // padding-top: clamp(5em, 9vw, 14em);

    &__team {
      margin-top: calc(31px - 0.875em);
    }
    & .c-main__title {
      line-height: 22px;
      padding-top: 52px;
    }
  }
  &-img {
    position: relative;
    width: 100%;
    &__crooked {
      max-width: 500px;
      padding-top: 0.75em;
      padding-bottom: 4.1875em;
      padding-left: clamp(9px, 5vw, 1200px);
      padding-right: clamp(9px, 5vw, 1200px);
      &-container {
        aspect-ratio: 176/200;
        &:first-child {
          order: 2;
          transform: rotate(16deg) translate(-12px, 50px);
        }
        &:nth-child(2n) {
          order: 1;
          transform: rotate(-5deg) translate(8px, 13px);
        }
      }
    }
    &__container-x {
      margin-top: calc(31px - 0.875em);
      position: relative;
      width: 100%;
      max-width: 300px;
      aspect-ratio: 247/153;
    }
    &__icon {
      position: relative;
      width: 100%;
      max-width: clamp(30px, 10vw, 100px);
      margin-top: calc(1rem - 0.875em);
      margin-bottom: 1rem;
      aspect-ratio: 30/30;
    }
  }
  &__block-color {
    padding-top: 2.6875em;
    padding-bottom: 2.6875em;
    
  }
  &-footer {
    text-align: center;
    &__talk {
      border-bottom: 1px solid #3b3b3b;
      padding-bottom: 0.1875em;
      display: inline;
      color: #3b3b3b;
    }
    &__rrss {
      margin-top: 2em;
    }
  }
}
