.c-works {
  &__primary {
    display: block;
  }
  @include tablet {
    padding-top: clamp(90px, 12vw, 200px);
    &__primary {
      display: flex;
      flex-direction: column;

      & div:first-child {
        order: 2;

        padding-right: 0;
      }
    }
  }
  &-bg {
    padding-bottom: 72px;
  }

  &__row {
    display: flex;
    gap: 1.25em;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: flex-start;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-img {
    align-self: flex-start;
    position: relative;
    width: 100%;

    &__container-x {
      margin-top: calc(31px - 0.875em);
      position: relative;
      width: 100%;
      max-width: 300px;
      aspect-ratio: 265/104;
      margin-left: auto;
      @include tablet {
        max-width: inherit;
      }
    }

    &__icon {
      position: relative;
      width: 20%;
      // max-width: 60px;
      max-width: clamp(30px, 10vw, 100px);
      margin-top: calc(1rem - 0.875em);
      margin-bottom: 1rem;
      aspect-ratio: 39/39;
      @include tablet {
        max-width: 53px;
        order: -1;
      }
      &-hangman {
        aspect-ratio: 20/52;
        max-width: 24px;
        // max-width: fit-content;
      }

      & .u-bg-image {
        object-fit: contain;
      }
    }
  }

  &__center {
    margin: auto;
    padding: 0 clamp(38px, 15vw, 17em);
    @include tablet {
      padding: 0;
    }
  }

  &__block {
    margin-bottom: 4rem;

    .c-main__block-img-x {
      margin: 0;
    }

    @include tablet {
      padding-top: 0;
    }

    &-primary {
      @include tablet {
        display: flex;
        align-items: flex-start;
        padding: 0 clamp(50px, 8vw, 217px);
        max-width: 1700px;
        margin: auto;
        h3,
        p {
          padding: 0;
        }
        article {
          width: calc((100% - 192px) / 2);
          margin: 0 auto;
        }
        article:nth-child(2) {
          max-width: 400px;
        }
      }
    }
    &-secondary {
      & .c-works__row {
        padding: 0 clamp(17px, 21vw, 8rem);
        flex-grow: 1;
        @include tablet {
          padding: 0;
        }
        & .c-works__block-text {
          flex-grow: 2;
          @include tablet {
            flex-grow: initial;
          }
        }
        & .c-works-img__icon {
          flex-grow: 1;
        }
      }
      @include tablet {
        display: flex;
        align-items: center;
        padding: clamp(50px, 8vw, 100px) clamp(50px, 8vw, 217px);
        gap: clamp(10px, 4vw, 217px);
        max-width: 1700px;
        margin: auto;
        h3,
        p {
          padding: 0;
        }
        .c-works__block {
          width: calc((100% - 192px) / 2);
          margin: 0 auto;
        }
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.875em;

      & p {
        margin-bottom: 0;
      }

      &-configurator {
        padding-right: clamp(40px, 8vw, 100px);
      }
    }
  }

  &__text {
    &-right {
      text-align: right;
    }

    &-title {
      font-size: clamp(0.6875em, 2vw, 1em);
      font-weight: 500;
      margin-bottom: 10px;
      color: #3b3b3b;
    }

    &-description {
      color: #5c765f;
      font-style: italic;
      font-size: clamp(0.5625em, 2vw, 0.9625em);
      margin-bottom: 6px;
    }

    &-company {
      font-size: clamp(0.5625em, 1.5vw, 0.9625em);
      color: #999999;
    }
  }
}
